            <div class="text-center ">
                <img [src]="iconUrl"
                     width="50"
                     alt="crystal mx-auto"
                     loading="lazy">
            </div>
            <h4 class="text-center font-weight-bold text-white my-3">
                {{key}}
            </h4>
            <p class="text-center font-weight-light text-white">
                 {{value}} 
            </p>
            <h6 class="text-center font-weight-bold my-4"><a href="#" class="text-white">{{linkTilte | translate}}</a></h6>
